
MobileAPICollection.xcworkspace/xcshareddata/
Pods/
*.xcconfig

MobileAPICollection.xcworkspace/xcuserdata/hector.climaco.xcuserdatad/xcdebugger/

MobileAPICollection.xcworkspace/xcuserdata/hector.climaco.xcuserdatad/

MobileAPICollection.xcodeproj/xcuserdata/adriandominguezgomez.xcuserdatad/xcschemes/

MobileAPICollection.xcworkspace/xcuserdata/adriandominguezgomez.xcuserdatad/UserInterfaceState.xcuserstate
