
MobileAPICollection.xcworkspace/xcshareddata/
Pods/
*.xcconfig

MobileAPICollection.xcworkspace/xcuserdata/hector.climaco.xcuserdatad/xcdebugger/

MobileAPICollection.xcworkspace/xcuserdata/hector.climaco.xcuserdatad/
